.navbar {
    width: 100%;
    height: 80px;
    background-color: #C5FFF8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .links {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .links a,
  .login a,
  .username h1 {
    text-decoration: none;
    color: #265073;
    padding: 15px;
    font-size: 30px;
    font-weight: bolder;
  }

  .app-logo {
    width: 15%;
  }